// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#product_table td, #product_table th {
    border: 1px solid #ddd;
    padding: 8px;
    min-width: 50px;
}

#product_table tr:nth-child(even){background-color: #f2f2f2;}

#product_table tr:hover {background-color: #ddd;}

#product_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.search_field {
    width: 40%;
    margin-bottom: 15px;
}